<div class="container mt-5">
  <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        placeholder="Full Name"
        class="form-control"
        name="fullName"
        ngModel
        #fullName="ngModel"
        (change)="getValue(fullName)"
        required
        [ngClass]="{'is-invalid' : fullName.touched && fullName.invalid}"  
        minlength="5"
        maxlength="15"   
      />
      <!-- [ngClass] which we can show the red alert icon and tell the user the filled input is required -->
      
      <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid">Fullname is Required</div>
      <!-- <div *ngIf="fullName.errors.required">
        
    </div> -->
    <!-- <div *ngIf="fullName.errors.minlength">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Email is Required</div>
    </div> -->
      
      
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        placeholder="Email"
        class="form-control"
        name="email"
        ngModel
        #email="ngModel"
        (change)="getValue(email)"
        required
        [ngClass]="{'is-invalid' : email.touched && email.invalid}"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        
      />
      <div class="alert alert-danger" *ngIf="email.touched && email.invalid">Required proper Email</div>
    </div>
    <div class="form-group">
      <label>Address</label>
      <textarea
        rows="3"
        class="form-control"
        name="address"
        ngModel
        #address="ngModel"
        (change)="getValue(address)"
        required
        [ngClass]="{'is-invalid' : address.touched && address.invalid}"
      ></textarea>
      <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address is Required</div>
    </div>

    <button class="btn btn-primary" type="button" [disabled]="f.invalid" >Submit</button>
  </form>
</div>
